<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ul class="link">
<li style="isplay: inline; float:left; display:block; padding:20px;"><a href="{% url 'welcome' %}"style="color:black;" > HOME </a></li>
<li style="isplay: inline; float:left; display:block; padding:20px;"><a href="{% url 'welcome' %} " style="color:black;">CONTACT</a></li>
</ul>
</ul>

<li style="isplay: inline; float:left; display:block; padding:20px;"> <a href="#" class="fa fa-facebook" style="color:black;"></a>     </li>
<li style="isplay: inline; float:left; display:block; padding:20px;"> <a href="https://twitter.com/Mish_BossLady" class="fa fa-twitter" style="color:black;"></a>     </li>
<li style="isplay: inline; float:left; display:block; padding:20px;"> <a href="https://www.instagram.com/mish_bosslady/" class="fa fa-instagram" style="color:black;"></a> </li>
<li style="isplay: inline; float:left; display:block; padding:20px;"> <a href="#" class="fa fa-linkedin" style="color:black;"></a>     </li>

    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}"   >
      <input class="form-control mr-sm-2" type="search" placeholder="Search article" name="article">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</body>
</html>
